* {
    margin: 0px;
    padding: 0px;
}

#header-nav {
    background-color: gray;
    height: 100px;
    margin: 0;
}

h1 {
    text-align: left;
    padding-top: 30px;
    padding-left: 15px;
}

.box {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background-color: gray;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
}

.box p {
    padding-top: 10px;
    display: inline-block;
    text-align: left;
}